:root {
  --border: #979797;
  --text: #24292e;
  --btn-text: #101214;
  --btn-bg: #fafbfc;
  --btn-bg-hover: #f3f4f6;
  --btn-bg-active: #edeff2;
  --body-bg: white;
  --error-bg: #ffb2b2;
  --error-text: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --border: #686868;
    --text: #dbd7d2;
    --btn-text: #e0ddee;
    --btn-bg: #14161a;
    --btn-bg-hover: #0c0d0e;
    --btn-bg-active: #131216;
    --body-bg: #1c1e22;
    --error-bg: #a60000;
    --error-text: #e0e0e0;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: var(--text);
  background-color: var(--body-bg);
  line-height: 1.5;
}

a, button, select {
  color: var(--btn-text);
}

button, select {
  background-color: var(--btn-bg);
  border: 1px solid var(--border);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 6px 16px;
  cursor: pointer;
}

button:hover, select:hover {
  background-color: var(--btn-bg-hover);
  text-decoration: none;
}

button:active, select:active {
  background-color: var(--btn-bg-active);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
  border: solid 1px var(--border);
}

#controls {
  display: flex;
  justify-content: space-between;
}

#editor, #graph {
  min-height: 80vh;
  max-height: 80vh;
}

#graph {
  border-left: solid 1px var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
}

#graph-img {
  max-width: 90%;
  max-height: 90%;
  margin: 1rem;
}

.message {
  align-self: flex-end;
  width: 100%;
  padding: 1rem;
}

#error {
  background-color: var(--error-bg);
  color: var(--error-text);
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, monospace;
}

#svg-modal, #svg-output {
  background-color: var(--body-bg);
  color: var(--text);
  border: 1px solid var(--border);
  width: min(700px, 90%);
  min-height: 400px;
padding: 1.5rem;
  margin: auto;
}

@media (max-width: 992px) {
  main {
    grid-template-columns: 1fr;
  }

  #graph {
    border-top: solid 1px var(--border);
    border-left: none;
  }
}